<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加宠物食品</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script src=".." th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>
<body>
<div class="x-body">
    <form class="layui-form">

        <div class="layui-form-item">
            <label for="foodname" class="layui-form-label">
                <span class="x-red">*</span>食品名称
            </label>
            <div class="layui-input-inline" style="width: 50%">
                <input type="text" id="foodname" name="foodname" lay-verify="required|foodname" placeholder="2-20个字符"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span id="VerificationFoodName"></span>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="foodtype" class="layui-form-label">
                <span class="x-red">*</span>食品类型
            </label>
            <div>
                <div class="layui-input-inline" style="width: 50%">
                    <input type="text" id="foodtype" name="foodtype" lay-verify="required|foodtype" placeholder="2-20个字符"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="foodnumber" class="layui-form-label">
                <span class="x-red">*</span>食品数量
            </label>
            <div class="layui-input-inline" style="width:50%">
                <input type="text" id="foodnumber" name="foodnumber" lay-verify="required|foodnumber" placeholder="只能为正整数"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="foodprice" class="layui-form-label">
                <span class="x-red">*</span>食品单价
            </label>
            <div class="layui-input-inline" style="width: 50%">
                <input type="text" id="foodprice" name="foodprice" lay-verify="required|foodprice"
                       autocomplete="off" class="layui-input" placeholder="正整数或者2位小数">
            </div>
        </div>
        <div class="layui-form-item" style="margin-left: 30%">
            <button class="layui-btn" lay-filter="add" lay-submit="">增加</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
</body>
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form,
            layer = layui.layer;
        //自定义验证规则
        form.verify({
            foodnumber: [/^[1-9]+$/, '数量必须为正整数'],
            foodprice: [/^([0-9]+|0)(\.(([0-9][0-9])|[0-9]{1,2})){0,1}$/, '单价必须为正整数或者2位小数'],
            foodname: function (value) {
                if (value.length < 2) {
                    return '食品名称至少得2个字符';
                }
                if (value.length > 20) {
                    return '食品名称不得超过20个字符';
                }
            },
            foodtype:function (value) {
                if (value.length < 2) {
                    return '食品类型至少得2个字符';
                }
                if (value.length > 20) {
                    return '食品类型不得超过20个字符';
                }
            }
        });


        //监听提交
        form.on('submit(add)', function (data) {
            $.ajax({
                url: "/PetFoodinfo/AddPetFood",
                type: "post",
                anys: false,
                data: {
                    foodname: data.field.foodname.replace(/\s*/g, ""),
                    foodtype: data.field.foodtype.replace(/\s*/g, ""),
                    foodnumber: data.field.foodnumber.replace(/\s*/g, ""),
                    foodprice: data.field.foodprice.replace(/\s*/g, ""),
                }, success: function (result) {
                    if (result.code == '1') {
                        layer.msg(result.content, {icon: 1});
                        x_admin_close();
                    } else {
                        layer.msg(result.content, {icon: 2});
                        x_admin_close();
                    }
                }
            })

            return false;
        });
    })

    //食品名称是否重复
    $('#foodname').blur(function () {
        var foodname = $('#foodname').val();
        if (foodname == null || foodname == '') {
            $('#VerificationFoodName').css('color', 'red').text("食品名称不能为空");
            $('#foodname').val("");
        } else {
            if (foodname.indexOf(" ") == -1) {
                $.ajax({
                    url: "/PetFoodinfo/VerificationPetFoodName",
                    type: "post",
                    anys: false,
                    data: {
                        foodname: foodname.replace(/\s*/g, ""),
                    }, success: function (result) {
                        if (result.code == '1') {
                            $('#VerificationFoodName').css('color', 'green').text("可以使用");
                            console.log(result)
                        } else {
                            console.log(result)
                            $('#VerificationFoodName').css('color', 'red').text("不能使用");
                            $('#foodname').val("");
                        }
                    }
                })
            } else {
                $('#VerificationFoodName').css('color', 'red').text("不能带有空格");
                $('#foodname').val("");
            }
        }

    })



</script>
</html>