<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<style type="text/css">
</style>
<head>
    <meta charset="UTF-8">
    <title>宠物食品管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/page.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>
<body class="layui-anim layui-anim-up">
<div class="x-nav">
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" th:action="@{/PetFoodinfo}">
            <input type="text" name="foodname" placeholder="食品的名称:XXX" class="layui-input"
                   id="foodname" th:value="${foodname}">
            <input type="text" name="foodtype" placeholder="食品类型:狗粮" class="layui-input"
                   id="foodtype" th:value="${foodtype}">
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>
            </button>
        </form>
    </div>
    <xblock>
        <button class="layui-btn" onclick="AddPetFood()" shiro:hasPermission="petfood:add"><i
                class="layui-icon"></i>添加
        </button>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th hidden="hidden">ID</th>
            <th>食品名称</th>
            <th>食品类型</th>
            <th>食品数量</th>
            <th>食品单价</th>
            <th>库存操作</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="petfood : ${petfoodlist.list}">
            <td th:text="${petfood.id}" hidden="hidden"></td>
            <td th:text="${petfood.foodname}"></td>
            <td th:text="${petfood.foodtype}"></td>
            <td th:text="${petfood.foodnumber}"></td>
            <td th:text="${petfood.foodprice}"></td>
            <td>
                <button type="button" class="layui-btn" th:onclick="IncreaseStock([[${petfood.id}]])" shiro:hasPermission="petfood:increasestock" >加库存</button>
                <button type="button" class="layui-btn" th:onclick="ReduceStock([[${petfood.id}]])" shiro:hasPermission="petfood:reducestock">减库存</button>
                <button type="button" class="layui-btn" th:onclick="Scrap([[${petfood.id}]])" shiro:hasPermission="petfood:scrap">报废库存</button>
            </td>
            <td class="td-manage">
                <a title="修改" th:onclick="updatepetfood([[${petfood.id}]])" shiro:hasPermission="petfood:update">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除" th:onclick="deletepetfood([[${petfood.id}]])" shiro:hasPermission="petfood:delete">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(petfoodlist.list)}">
            <td colspan="9" style="color: red;font-size: 32px;">暂无数据</td>
        </tr>
        </tbody>
    </table>
    <div class="page">
        <div id="page" class="page_div"></div>
    </div>
</div>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script th:src="@{/js/pageMe.js}"></script>
<script th:inline="javascript">
    var petfoodlist = [[${petfoodlist}]];
    var foodname = $('#foodname').val().toString().trim();
    var foodtype = $('#foodtype').val().toString().trim();
    //翻页
    $("#page").paging({
        pageNum: petfoodlist.pageNum, // 当前页面
        totalNum: petfoodlist.pages, // 总页码
        totalList: petfoodlist.total, // 记录总数量
        callback: function (num) { //回调函数
            window.location.href = "/PetFoodinfo?pageNo=" + num + "&foodname=" + foodname + "&foodtype=" + foodtype;
        }
    });

    //删除食品信息
    function deletepetfood(id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                url: "/PetFoodinfo/DeletePetFood",
                async: false,
                type: 'post',
                data: {
                    id: id
                },
                success: function (result) {
                    if (result.code == "1") {
                        layer.msg(result.content, {icon: 1});
                        resh()
                    } else {
                        layer.msg(result.content, {icon: 2});
                    }
                }

            });
        });
    }

    //修改食品信息
    function updatepetfood(id) {
        layer.open({
            type: 2 //Page层类型
            , area: ['1000px', '700px']
            , title: '修改' + '-' + id
            , shade: 0.6 //遮罩透明度
            , maxmin: true //允许全屏最小化
            , anim: 1 //0-6的动画形式，-1不开启
            , content: '/PetFoodinfo/GetUpdatePetFood?id=' + id
        });
    }


    //补仓食品
    function IncreaseStock(id) {
        layer.open({
            type: 2 //Page层类型
            , area: ['700px', '500px']
            , title: '添加食品库存' + '-' + id
            , shade: 0.6 //遮罩透明度
            , maxmin: true //允许全屏最小化
            , anim: 1 //0-6的动画形式，-1不开启
            , content: '/PetFoodinfo/GetIncreaseStock?id=' + id
        });
    }


    //减仓食品
    function ReduceStock(id) {
        layer.open({
            type: 2 //Page层类型
            , area: ['700px', '500px']
            , title: '减少食品库存' + '-' + id
            , shade: 0.6 //遮罩透明度
            , maxmin: true //允许全屏最小化
            , anim: 1 //0-6的动画形式，-1不开启
            , content: '/PetFoodinfo/GetReduceStock?id=' + id
        });
    }

    //报废食品
    function Scrap(id) {
        layer.open({
            type: 2 //Page层类型
            , area: ['700px', '500px']
            , title: '报废食品' + '-' + id
            , shade: 0.6 //遮罩透明度
            , maxmin: true //允许全屏最小化
            , anim: 1 //0-6的动画形式，-1不开启
            , content: '/PetFoodinfo/GetScrap?id=' + id
        });
    }


    //添加食品
    function AddPetFood() {
        layer.open({
            type: 2 //Page层类型
            , area: ['600px', '450px']
            , title: '添加食品'
            , shade: 0.6 //遮罩透明度
            , maxmin: true //允许全屏最小化
            , anim: 1 //0-6的动画形式，-1不开启
            , content: '/PetFoodinfo/GetAddPetFood'
        });
    }


</script>
</body>
</html>