<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>订单管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/page.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>
<body>
<div class="x-nav">
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" th:action="@{/oderinfo}">
            <div class="layui-input-inline">
            <input class="layui-input" placeholder="开始日" name="starttime" id="starttime" autocomplete="off"
                   th:value="${sreachcondition.starttime}">
            <input class="layui-input" placeholder="截止日" name="endtime" id="endtime" autocomplete="off"
                   th:value="${sreachcondition.endtime}">
            </div>
            <div class="layui-input-inline">
                <select name="oder_type" id="selectoder_type">
                    <option value="all">所有订单</option>
                    <option value="宠物寄养">宠物寄养</option>
                    <option value="宠物食品">宠物食品</option>
                    <option value="宠物饰品">宠物饰品</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="status" id="selectstatus">
                    <option value="0">所有支付</option>
                    <option value="10">未支付</option>
                    <option value="1">支付成功</option>
                    <option value="3">退款成功</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <input type="text" name="member_name" id="member_name" placeholder="请输入会员名" autocomplete="off"
                       class="layui-input"
                       th:value="${sreachcondition.member_name}">
            </div>
            <div class="layui-input-inline">
                <input type="text" name="oder_no" id="oder_no" placeholder="请输入订单号" autocomplete="off"
                       class="layui-input"
                       th:value="${sreachcondition.oder_no}">
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <table class="layui-table">
        <thead>
        <tr>
            <th>订单编号</th>
            <th>订单类型</th>
            <th>商品名称</th>
            <th>商品单价(元)</th>
            <th>商品数量</th>
            <th>实际订单金额(元)</th>
            <th>会员名</th>
            <th>支付方式</th>
            <th>订单状态</th>
            <th>最终支付</th>
            <th>退款金额</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="oder:${oderlist.list}">
            <td th:text="${oder.oder_no}" t></td>
            <td th:text="${oder.oder_type}"></td>
            <td th:text="${oder.oderi.product_name}"></td>
            <td th:text="${oder.oderi.current_oder_price}"></td>
            <td th:text="${oder.oderi.number}"></td>
            <td th:text="${oder.payment}"></td>
            <td th:text="${oder.member_name}"></td>
            <td th:text="${oder.payment_type}"></td>
            <td>
                <button type="button" class="layui-btn layui-btn-normal" th:if="${oder.status} eq 10  "
                        th:onclick="HandleOder([[${oder.oder_no}]],[[${oder.status}]])">未支付
                </button>
                <button type="button" class="layui-btn layui-btn-warm" th:if="${oder.status} eq 1  "
                        th:onclick="HandleOder([[${oder.oder_no}]],[[${oder.status}]])">支付成功
                </button>
                <button type="button" class="layui-btn layui-btn-danger" th:if="${oder.status} eq 1  "
                        th:onclick="ReFund([[${oder.oder_no}]],[[${oder.status}]])" shiro:hasPermission="oderinfo:refund">申请退款
                </button>
                <button type="button" class="layui-btn layui-btn-normal" th:if="${oder.status} eq 3  ">退款成功
                </button>
            </td>
            <td th:text="${oder.final_payment}"></td>
            <td th:text="${oder.refundmoney}"></td>
            <td class="td-manage">
                <a title="查看" th:onclick="DetailsOder([[${oder.oder_no}]])">
                    <i class="layui-icon">&#xe63c;</i>
                </a>
                <a title="删除" th:onclick="DeleteOder([[${oder.oder_no}]])" shiro:hasPermission="oderinfo:delete">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="page">
        <div id="page" class="page_div"></div>
    </div>
</div>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script th:src="@{/js/pageMe.js}"></script>
<script th:inline="javascript">
    var orderlist = [[${oderlist}]];
    var oder = [[${sreachcondition}]];
    $('#selectoder_type').find('option[value=' + oder.oder_type + ']').prop('selected', true);
    $('#selectstatus').find('option[value=' + oder.status + ']').prop('selected', true);

    var starttime = $('#starttime').val();
    var endtime = $('#endtime').val();
    var member_name = $('#member_name').val();
    var oder_no = $('#oder_no').val();
    var selectoder_type = $("#selectoder_type").find("option:selected").val();
    var selectstatus = $("#selectstatus").find("option:selected").val();
    //翻页
    $("#page").paging({
        pageNum: orderlist.pageNum, // 当前页面
        totalNum: orderlist.pages, // 总页码
        totalList: orderlist.total, // 记录总数量
        callback: function (num) { //回调函数
            window.location.href = "/oderinfo?pageNo=" + num + "&starttime=" + starttime +
                "&endtime=" + endtime + "&member_name=" + member_name + "&oder_no=" + oder_no
                + "&oder_type=" + selectoder_type + "&status=" + selectstatus;
        }
    });

    layui.use('laydate', function () {
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#starttime' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#endtime' //指定元素
        });
    });

    //批量处理订单
    function HandleMultipleOder(argument) {
        var data = tableCheck.getData();
        layer.open({
            type: 2 //Page层类型
            , area: ['1000px', '800px']
            , title: '处理订单'
            , shade: 0.6 //遮罩透明度
            , maxmin: true //允许全屏最小化
            , anim: 1 //0-6的动画形式，-1不开启
            , content: '/oderinfo/GetHandleMultipleOder?datas=' + data + ""
        });
    }

    //处理单个订单
    function HandleOder(id, status) {
        if (status == "1") {
            layer.msg('交易成功后不允许处理订单', {icon: 2});
        } else {
            layer.open({
                type: 2 //Page层类型
                , area: ['1000px', '800px']
                , title: '处理订单' + '-' + id
                , shade: 0.6 //遮罩透明度
                , maxmin: true //允许全屏最小化
                , anim: 1 //0-6的动画形式，-1不开启
                , content: '/oderinfo/GetHandleOder?id=' + id
            });
        }
    }

    //订单详情
    function DetailsOder(id) {
        layer.open({
            type: 2 //Page层类型
            , area: ['1000px', '800px']
            , title: '处理订单' + '-' + id
            , shade: 0.6 //遮罩透明度
            , maxmin: true //允许全屏最小化
            , anim: 1 //0-6的动画形式，-1不开启
            , content: '/oderinfo/GetDetailsOder?id=' + id
        });
    }


    //删除订单
    function DeleteOder(oder_no) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                url: "/oderinfo/DeleteOder",
                async: false,
                type: 'post',
                data: {
                    oder_no: oder_no
                },
                success: function (result) {
                    if (result.code == "1") {
                        layer.msg(result.content, {icon: 1});
                        resh()
                    } else {
                        layer.msg(result.content, {icon: 2});
                    }
                }

            });
        });
    }

    //申请退款
    function ReFund(id, status) {
        layer.open({
            type: 2 //Page层类型
            , area: ['1000px', '800px']
            , title: '申请退款' + '-' + id
            , shade: 0.6 //遮罩透明度
            , maxmin: true //允许全屏最小化
            , anim: 1 //0-6的动画形式，-1不开启
            , content: '/oderinfo/GetReFund?oder_no=' + id
        });
    }
</script>
</body>

</html>