<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>预约详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script src=".." th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>

<body>
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="reservation_id" class="layui-form-label">
                <span class="x-red">*</span>预约ID
            </label>
            <div class="layui-input-inline" style="width: 50%">
                <input type="text" id="reservation_id" name="reservation_id" th:value="${reservation.id}"
                       autocomplete="off" class="layui-input" readonly>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="reservation_name" class="layui-form-label">
                <span class="x-red">*</span>预约人
            </label>
            <div class="layui-input-inline" style="width: 50%">
                <input type="text" id="reservation_name" name="reservation_name" th:value="${reservation.reservation_name}"
                       autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="phone" class="layui-form-label">
                <span class="x-red">*</span>预约人手机
            </label>
            <div class="layui-input-inline" style="width: 50%">
                <input type="text" id="phone" name="phone" th:value="${reservation.phone}"
                       autocomplete="off" class="layui-input" readonly>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="reservation_type" class="layui-form-label">
                <span class="x-red">*</span>预约类型
            </label>
            <div class="layui-input-inline" style="width: 50%">
                <input type="text" id="reservation_type" name="reservation_type" th:value="${reservation.reservation_type}"
                       autocomplete="off" class="layui-input" readonly>
            </div>

        </div>
        <div class="layui-form-item">
            <label for="reservation_time" class="layui-form-label">
                <span class="x-red">*</span>预约时间
            </label>
            <div class="layui-input-inline" style="width: 50%">
                <input class="layui-input" placeholder="预约时间" name="reservation_time" id="reservation_time"
                       autocomplete="off" th:value="${#dates.format(reservation.reservation_time,'yyyy-MM-dd HH:mm:ss')}" readonly
                >
            </div>
        </div>
        <div class="layui-form-item">
            <label for="reservation_content" class="layui-form-label">
                <span class="x-red">*</span>预约内容
            </label>
            <div class="layui-input-block" style="width: 50%">
                <textarea placeholder="请输入内容" class="layui-textarea" id="reservation_content"
                          name="reservation_content" th:text="${reservation.reservation_content}" readonly></textarea>
            </div>
        </div>
    </form>
</div>
</body>
</html>