<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>日志详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
</head>
<body>
<div>
    <form role="form">
        <div class="form-group">
            <label for="1">ID：</label>
            <input type="text" class="form-control" id="1" th:placeholder="${loglist.id}" readonly>
        </div>
        <div class="form-group">
            <label for="2">操作人：</label>
            <input type="text" class="form-control" id="2" th:placeholder="${loglist.username}" readonly>
        </div>
        <div class="form-group">
            <label for="3">功能：</label>
            <input type="text" class="form-control" id="3" th:placeholder="${loglist.operation}" readonly>
        </div>
        <div class="form-group">
            <label for="4">响应时间：</label>
            <input type="text" class="form-control" id="4" th:placeholder="${loglist.time}" readonly>
        </div>
        <div class="form-group">
            <label for="6">请求地址：</label>
            <input type="text" class="form-control" id="6" th:placeholder="${loglist.method}" readonly>
        </div>
        <div class="form-group">
            <label for="7">请求参数：</label>
            <input type="text" class="form-control" id="7" th:placeholder="${loglist.params}" readonly>
        </div>
        <div class="form-group">
            <label for="8">请求ip：</label>
            <input type="text" class="form-control" id="8" th:placeholder="${loglist.ip}" readonly>
        </div>
        <div class="form-group">
            <label for="9">请求时间：</label>
            <input type="text" class="form-control" id="9" th:placeholder="${#dates.format(loglist.create_time,'yyyy-MM-dd HH:mm:ss')}" readonly>
        </div>

    </form>
</div>
</body>
</html>