<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>系统公告管理 </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/page.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>

<body class="layui-anim layui-anim-up">
<div class="x-nav">
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" th:action="@{/sysnotice}">
            <input type="text" name="name" placeholder="请输入公告名" autocomplete="off" class="layui-input"
                   id="name" th:value="${name}">
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <button class="layui-btn" onclick="AddNotice()" shiro:hasPermission="sys:notice:add"><i
            class="layui-icon"></i>添加公告
    </button>
    <table class="layui-table">
        <thead>
        <tr>
            <th hidden>ID</th>
            <th>公告名</th>
            <th>创建人</th>
            <th>创建时间</th>
            <th>公告状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notice : ${sysnoticelist.list}">
            <td th:text="${notice.id}" hidden></td>
            <td th:text="${notice.name}"></td>
            <td th:text="${notice.username}"></td>
            <td th:text="${#dates.format(notice.createtime,'yyyy-MM-dd HH:mm:ss')}"></td>
            <td class="td-status" th:if="${notice.states} eq  1">
                <button type="button" class="layui-btn layui-btn-warm" th:onclick="stopnotice([[${notice.id}]])">公告中
                </button>
            </td>
            <td class="td-status" th:if="${notice.states} eq  0">
                <button type="button" class="layui-btn layui-btn-normal" th:onclick="starnotice([[${notice.id}]])">未公告
                </button>
            </td>
            <td class="td-manage">
                <a title="查看" th:onclick="details([[${notice.id}]])">
                    <i class="layui-icon">&#xe63c;</i>
                </a>
                <a title="编辑" th:onclick="UpdateNotice([[${notice.id}]],[[${notice.name}]])" shiro:hasPermission="sys:notice:update"
                >
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除" th:onclick="DeleteNotice([[${notice.id}]],[[${notice.name}]])" shiro:hasPermission="sys:notice:delete"
                >
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(sysnoticelist.list)}">
            <td colspan="9" style="color: red;font-size: 32px;">暂无数据</td>
        </tr>
        </tbody>
    </table>
    <div class="page">
        <div id="page" class="page_div"></div>
    </div>
</div>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script th:src="@{/js/pageMe.js}"></script>
<script th:inline="javascript">
    var sysnoticelist = [[${sysnoticelist}]];
    var name = $('#name').val().toString().trim();
    //翻页
    $("#page").paging({
        pageNum: sysnoticelist.pageNum, // 当前页面
        totalNum: sysnoticelist.pages, // 总页码
        totalList: sysnoticelist.total, // 记录总数量
        callback: function (num) { //回调函数
            window.location.href = "/sysnotice?pageNo=" + num + "&name=" + name.replace(/\s*/g, "");
        }
    });

    //删除公告
    function DeleteNotice(id, name) {
        layer.confirm('确认要删除吗？' + " " + name, function (index) {
            $.ajax({
                url: "/sysnotice/DeleteNotice",
                async: false,
                type: 'post',
                data: {
                    id: id.replace(/\s*/g, "")
                },
                success: function (result) {
                    if (result.code == "1") {
                        layer.msg(result.content, {icon: 1});
                        resh()
                    } else {
                        layer.msg(result.content, {icon: 2});
                    }
                }

            });
        });
    }


    //修改公告
    function UpdateNotice(id, name) {
        layer.open({
            type: 2 //Page层类型
            , area: ['1200px', '700px']
            , title: '修改公告' + " " + name
            , shade: 0.6 //遮罩透明度
            , maxmin: true //允许全屏最小化
            , anim: 1 //0-6的动画形式，-1不开启
            , content: '/sysnotice/GetUpdateNotice?id=' + id.replace(/\s*/g, "")
        });
    }


    //添加
    function AddNotice() {
        layer.open({
            type: 2 //Page层类型
            , area: ['1200px', '700px']
            , title: '添加公告'
            , shade: 0.6 //遮罩透明度
            , maxmin: true //允许全屏最小化
            , anim: 1 //0-6的动画形式，-1不开启
            , content: '/sysnotice/GetAddNotice'
        });
    }

    //公告详情
    function details(id) {
        layer.open({
            type: 2 //Page层类型
            , area: ['1000px', '700px']
            , title: '公告详情'
            , shade: 0.6 //遮罩透明度
            , maxmin: true //允许全屏最小化
            , anim: 1 //0-6的动画形式，-1不开启
            , content: '/sysnotice/GetDetails?id=' + id
        });
    }

    //停止公告
    function stopnotice(id) {
        layer.confirm('确认要停止这份公告吗？', function (index) {
            $.ajax({
                url: "/sysnotice/StopNotice",
                async: false,
                type: 'post',
                data: {
                    id: id
                },
                success: function (result) {
                    if (result.code == "1") {
                        layer.msg(result.content, {icon: 1});
                        resh()
                    } else {
                        layer.msg(result.content, {icon: 2});
                    }
                }

            });
        });
    }

    //启动公告
    function starnotice(id) {
        layer.confirm('确认要启动这份公告吗？', function (index) {
            $.ajax({
                url: "/sysnotice/StarNotice",
                async: false,
                type: 'post',
                data: {
                    id: id
                },
                success: function (result) {
                    if (result.code == "1") {
                        layer.msg(result.content, {icon: 1});
                        resh()
                    } else {
                        layer.msg(result.content, {icon: 2});
                    }
                }

            });
        });


    }
</script>
</body>

</html>