<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/font.css}">
<link rel="stylesheet" th:href="@{/css/xadmin.css}">
<script src=".." th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
<script src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>修改公告</title>
</head>
<body>
<form class="layui-form">


    <div class="layui-form-item" style="margin-top: 2%">
        <label for="id" class="layui-form-label">
            <span class="x-red">*</span>ID
        </label>
        <div class="layui-input-inline">
            <input type="text" id="id" name="id" lay-verify="required"
                   autocomplete="off" class="layui-input" style="width: 500px" th:value="${notice.id}" readonly>
        </div>
    </div>

    <div class="layui-form-item" style="margin-top: 2%">
        <label for="name" class="layui-form-label">
            <span class="x-red">*</span>公告名
        </label>
        <div class="layui-input-inline">
            <input type="text" id="name" name="name" lay-verify="required|name"
                   autocomplete="off" class="layui-input" style="width: 500px" th:value="${notice.name}"
                   placeholder="2-20个字符">
        </div>
    </div>
    <label class="layui-form-label">
        <span class="x-red">*</span>公告内容:
    </label>
    <br/>
    <br/>
    <br/>
    <div id="editor" style="margin-left: 5%">
    </div>
    <div class="layui-form-item" style="margin-left: 100px">
        <button class="layui-btn" lay-filter="update" lay-submit="">修改</button>
    </div>

</form>

<script th:inline="javascript">
    var notice = [[${notice}]];
    var E = window.wangEditor
    var editor = new E('#editor')
    editor.create();
    editor.txt.append(notice.content);

    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;

        form.verify({
            name: function (value) {
                if (value.length < 2) {
                    return '公告名至少得2个字符啊';
                }
                if (value.length > 20) {
                    return '公告名不得超过20个字符';
                }
            }
        });


        //监听提交
        form.on('submit(update)', function (data) {
            $.ajax({
                url: "/sysnotice/UpdateNotice",
                anys: false,
                type: 'post',
                data: {
                    id: data.field.id.replace(/\s*/g, ""),
                    name: data.field.name.replace(/\s*/g, ""),
                    content: editor.txt.html()
                }, success: function (result) {
                    if (result.code == '1') {
                        layer.msg(result.content, {icon: 1});
                        x_admin_close();
                    } else {
                        layer.msg(result.content, {icon: 2});
                    }
                }
            })

            return false;
        });

    });
</script>
</body>
</html>