<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
</style>
<head>
    <meta charset="UTF-8">
    <title>修改宠物寄养</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/page.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>
<body>
<div style="margin-top: 30px">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 10%">ID</label>
            <div class="layui-input-block">
                <input type="text" name="id" autocomplete="off" disabled="disabled"
                       class="layui-input" style="width: 80%" th:value="${petfoster.id}" id="id">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 10%">饲主名<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="feedername" lay-verify="required|feedername" autocomplete="off"
                       class="layui-input" style="width: 80%" th:value="${petfoster.feedername}" id="feedername"
                       placeholder="姓名+手机号后四位">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 10%">饲主手机<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="feederphone" autocomplete="off"
                       class="layui-input" style="width: 80%" th:value="${petfoster.feederphone}"
                       lay-verify="phone|required" id="feederphone">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 10%">宠物类型<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="pettype" lay-verify="required|pettype" autocomplete="off"
                       class="layui-input" style="width: 80%" th:value="${petfoster.pettype}" id="pettype"
                       placeholder="2-20个字符">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 10%">宠物笼子<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="petcage" lay-verify="required|petcage" autocomplete="off"
                       class="layui-input" style="width: 80%" th:value="${petfoster.petcage}" id="petcage" placeholder="2-20个字符">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 10%">开始时间</label>
            <div class="layui-input-block">
                <input type="text" name="fosterstartime" lay-verify="title" autocomplete="off" readonly="readonly"
                       class="layui-input" style="width: 80%"
                       th:value="${#dates.format(petfoster.fosterstartime,'yyyy-MM-dd HH:mm:ss')}" id="fosterstartime">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 10%">结束时间<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <input class="layui-input" placeholder="yyyy-MM-dd HH:mm:ss" name="fosterendtime"
                       autocomplete="off"
                       lay-verify="required" style="width: 80%"
                       th:value="${#dates.format(petfoster.fosterendtime,'yyyy-MM-dd HH:mm:ss')}" id="fosterendtime">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 10%">寄养价格<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <input type="text" id="fosterprice" name="fosterprice" lay-verify="required|fosterprice"
                       style="width: 80%"
                       autocomplete="off" class="layui-input" th:value="${petfoster.fosterprice}" placeholder="正整数或者2位小数">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 10%">寄养备注<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <textarea autocomplete="off" name="fosterremark" class="layui-textarea" style="width: 80%"
                          th:text="${petfoster.fosterremark}" id="fosterremark" lay-verify="fosterremark" placeholder="不超过100个字符"></textarea>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 10%">状态</label>
            <div class="layui-input-block">
                <input class="layui-input" name="fosterstates"
                       autocomplete="off" readonly="readonly"
                       lay-verify="required" style="width: 80%"
                       th:value="${petfoster.state}" id="fosterstates">
            </div>
        </div>
        <div class="layui-form-item" style="margin-left: 10%">
            <button class="layui-btn" lay-filter="update" lay-submit="">修改</button>
        </div>
    </form>
</div>
</body>
<script>

</script>
<script>
    layui.use(['form', 'layer', 'laydate'], function () {
        var laydate = layui.laydate,
            form = layui.form,
            layer = layui.layer;
        //自定义验证规则
        form.verify({
            feedername: [/.*[0-9]{4,}.*/, '会员名格式:姓名+手机号后四位'],
            fosterprice: [/^([0-9]+|0)(\.(([0-9][0-9])|[0-9]{1,2})){0,1}$/, '价格必须为正整数或者2位小数'],
            pettype: function (value) {
                if (value.length < 2) {
                    return '宠物类型至少得2个字符';
                }
                if (value.length > 20) {
                    return '宠物类型不得超过20个字符';
                }
            }, petcage: function (value) {
                if (value.length < 2) {
                    return '笼子编号至少得2个字符';
                }
                if (value.length > 10) {
                    return '笼子编号不得超过10个字符';
                }
            },
            fosterremark: function (value) {
                if (value.length > 100) {
                    return '备注不允许超过100个字符';
                }
            }
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#fosterendtime' //指定元素
            , type: 'datetime'
        });

        //监听提交
        form.on('submit(update)', function (data) {
            $.ajax({
                url: "/petfoster/UpdatePetFoster",
                type: "post",
                anys: false,
                data: {
                    id: data.field.id,
                    feedername: data.field.feedername,
                    pettype: data.field.pettype,
                    petcage: data.field.petcage,
                    starttime: data.field.fosterstartime,
                    endtime: data.field.fosterendtime,
                    feederphone: data.field.feederphone,
                    fosterremark: data.field.fosterremark,
                    state: data.field.fosterstates,
                    fosterprice: data.field.fosterprice

                }, success: function (result) {
                    if (result.code == '1') {
                        layer.msg(result.content, {icon: 1});
                        x_admin_close();
                    } else {
                        layer.msg(result.content, {icon: 2});
                        x_admin_close();
                    }
                }
            })

            return false;
        });
    });
</script>
</html>