<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会员充值</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script src=".." th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>
<body>
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="memberid" class="layui-form-label">
                会员id
            </label>
            <div class="layui-input-inline" style="width: 50%">
                <input type="text" id="memberid" name="memberid" class="layui-input" readonly
                       th:value="${member.id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="membername" class="layui-form-label">
                会员名
            </label>
            <div class="layui-input-inline" style="width: 50%">
                <input type="text" id="membername" name="membername" readonly
                       autocomplete="off" class="layui-input" th:value="${member.name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="phone" class="layui-form-label">
                手机
            </label>
            <div class="layui-input-inline" style="width: 50%">
                <input type="tel" id="phone" name="phone" autocomplete="off"
                       class="layui-input" th:value="${member.phone}" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="email" class="layui-form-label">
                邮件
            </label>
            <div class="layui-input-inline" style="width: 50%">
                <input type="text" id="email" name="email" autocomplete="off" class="layui-input"
                       th:value="${member.email}" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="balance" class="layui-form-label">
                余额
            </label>
            <div class="layui-input-inline" style="width: 50%">
                <input type="text" id="balance" name="balance" autocomplete="off" class="layui-input"
                       th:value="${member.balance}" readonly>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="recharge" class="layui-form-label">
                <span class="x-red">*</span>充值金额
            </label>
            <div class="layui-input-inline" style="width: 50%">
                <input type="text" id="recharge" name="recharge" autocomplete="off" class="layui-input"
                       lay-verify="required|recharge">
            </div>
        </div>

        <div class="layui-form-item" style="margin-left: 15%">
            <button class="layui-btn" lay-filter="recharge" lay-submit="">充值</button>
        </div>
    </form>
</div>
</body>
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form,
            layer = layui.layer;
        //自定义验证规则
        form.verify({
            recharge: [/^[0-9]+$/, '数量必须为正整数'],
        });


        //监听提交
        form.on('submit(recharge)', function (data) {
            $.ajax({
                url: "/member/Recharge",
                type: "post",
                anys: false,
                data: {
                    memberid: data.field.memberid.replace(/\s*/g, ""),
                    membername: data.field.membername.replace(/\s*/g, ""),
                    recharge: data.field.recharge.replace(/\s*/g, "")
                }, success: function (result) {
                    if (result.code == '1') {
                        layer.msg(result.content, {icon: 1});
                        x_admin_close();
                    } else {
                        layer.msg(result.content, {icon: 2});
                    }
                }
            })

            return false;
        });


    })
</script>
</html>