<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>活动管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/page.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>
<body class="layui-anim layui-anim-up">
<div class="x-nav">
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" th:action="@{/activity}">
            <div class="layui-input-inline">
                <input type="text" name="name" placeholder="请输入活动名" autocomplete="off" class="layui-input"
                       id="name" th:value="${name}">
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <xblock>
        <button class="layui-btn" th:onclick="AddActivity()" shiro:hasPermission="activity:add"><i
                class="layui-icon"></i>添加
        </button>
    </xblock>
    <table class="layui-table" style="table-layout: fixed;word-wrap: break-word">
        <thead>
        <tr>
            <th hidden>ID</th>
            <th>名称</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>内容</th>
            <th>折扣</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="activity : ${activity.list}">
            <td th:text="${activity.id}" hidden></td>
            <td th:text="${activity.activity_name}"></td>
            <td th:text="${#dates.format(activity.activity_starttime,'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${#dates.format(activity.activity_endtime,'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${activity.activity_content}"></td>
            <td th:text="${activity.activity_discount}"></td>
            <td>
                <button type="button" class="layui-btn layui-btn-normal" th:if="${activity.activity_status} eq 0"
                        th:onclick="stopactivity([[${activity.id}]])">
                    正在进行
                </button>
                <button type="button" class="layui-btn layui-btn-warm" th:if="${activity.activity_status} eq 1">
                    已经结束
                </button>
            </td>
            <td>
                <a title="详情" th:onclick="detailactivity([[${activity.id}]])" >
                    <i class="layui-icon"> &#xe63c;</i>
                </a>
                <a title="修改" th:onclick="updateactivity([[${activity.id}]],[[${activity.activity_status}]])" shiro:hasPermission="activity:update">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除" th:onclick="deleteactivity([[${activity.id}]])" shiro:hasPermission="activity:delete">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(activity.list)}">
            <td colspan="9" style="color: red;font-size: 32px;">暂无数据</td>
        </tr>
        </tbody>
    </table>
    <div class="page">
        <div id="page" class="page_div"></div>
    </div>
</div>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script th:src="@{/js/pageMe.js}"></script>
<script th:inline="javascript">
    var activity = [[${activity}]];
    var name = $('#name').val().toString().trim();

    //翻页
    $("#page").paging({
        pageNum: activity.pageNum, // 当前页面
        totalNum: activity.pages, // 总页码
        totalList: activity.total, // 记录总数量
        callback: function (num) { //回调函数
            window.location.href = "/activity?pageNo=" + num + "&name=" + name;
        }
    });


    //停止活动
    function stopactivity(id) {
        layer.confirm('确认要关闭活动吗？', function (index) {
            $.ajax({
                url: "/activity/StopActivity",
                async: false,
                type: 'post',
                data: {
                    id: id
                },
                success: function (result) {
                    if (result.code == "1") {
                        layer.msg(result.content, {icon: 1});
                        resh()
                    } else {
                        layer.msg(result.content, {icon: 2});
                    }
                }

            });
        });
    }

    //删除活动
    function deleteactivity(id) {
        layer.confirm('确认要删除活动吗？', function (index) {
            $.ajax({
                url: "/activity/DeleteActivity",
                async: false,
                type: 'post',
                data: {
                    id: id
                },
                success: function (result) {
                    if (result.code == "1") {
                        layer.msg(result.content, {icon: 1});
                        resh()
                    } else {
                        layer.msg(result.content, {icon: 2});
                    }
                }

            });
        });
    }


    //修改活动
    function updateactivity(id, status) {
        if (status == 1) {
            layer.msg("关闭后不可被修改", {icon: 2});
        } else {
            layer.open({
                type: 2 //Page层类型
                , area: ['800px', '700px']
                , title: '修改活动'
                , shade: 0.6 //遮罩透明度
                , maxmin: true //允许全屏最小化
                , anim: 1 //0-6的动画形式，-1不开启
                , content: '/activity/GetUpdateActivity?id=' + id
            });
        }
    }

    //添加活动
    function AddActivity() {
        layer.open({
            type: 2 //Page层类型
            , area: ['800px', '700px']
            , title: '添加活动'
            , shade: 0.6 //遮罩透明度
            , maxmin: true //允许全屏最小化
            , anim: 1 //0-6的动画形式，-1不开启
            , content: '/activity/GetAddActivity'
        });
    }

    //活动详情
    function detailactivity(id) {
        layer.open({
            type: 2 //Page层类型
            , area: ['800px', '700px']
            , title: '活动详情'
            , shade: 0.6 //遮罩透明度
            , maxmin: true //允许全屏最小化
            , anim: 1 //0-6的动画形式，-1不开启
            , content: '/activity/GetDetailsActivity?id=' + id
        });
    }

</script>
</body>

</html>