<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Graduation.Dao.RoleDao.RoleDao">
    <resultMap id="rolemap" type="com.example.demo.Graduation.entity.RoleEntity.RoleEntity">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createtime" column="createtime" jdbcType="DATE"/>
        <result property="updatetime" column="updatetime" jdbcType="DATE"/>
    </resultMap>

    <!--不同角色查询权限信息-->
    <select id="DifferentRoleFindRoleInfo" resultMap="rolemap">
        <!--超级管理员-->
        <if test="rolename=='超级管理员'">
            SELECT * FROM sys_role
        </if>
        <!--管理员-->
        <if test="rolename!='超级管理员'">
            SELECT * FROM sys_role where description !='超级管理员'
        </if>

    </select>
    <!--根据角色的名称查询角色的信息-->
    <select id="RoleNameFindRoleInfo" resultMap="rolemap">
        SELECT * FROM sys_role WHERE name=#{rolename}
    </select>

    <!--查询角色信息-->
    <select id="FindRoleInfo" resultMap="rolemap">
        SELECT * FROM sys_role
        <where>
            <if test="name!=null and name!=''">
                name=#{name}
            </if>
        </where>
    </select>

    <delete id="DeleteUserRole">
     DELETE FROM sys_user_role WHERE userid=#{id}
    </delete>


</mapper>