<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加目录</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="form-group">
    <label for="menuname" class="col-sm-2 control-label">菜单名称</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="menuname"
               placeholder="请输入菜单名称" style="width: 75%">
    </div>
    <br/>
    <label for="menuurl" class="col-sm-2 control-label">菜单地址</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="menuurl"
               placeholder="请输入菜单地址" style="width: 75%">
    </div>
    <br/>
    <label for="menupermission" class="col-sm-2 control-label">权限</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="menupermission"
               placeholder="请输入权限" style="width: 75%">
    </div>
    <br/>
    <label for="menusort" class="col-sm-2 control-label">排序</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="menusort"
               placeholder="请输入排序" style="width: 75%">
    </div>
</div>
</body>
</html>