<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加目录</title>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/static/css/page.css}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form class="form-horizontal" role="form" style="margin-top: 30px">

    <div class="form-group" style="width: 800px">
        <label for="menuname" class="col-sm-2 control-label">目录名:</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="menuname"
                   placeholder="请输入菜单名">
        </div>
        <div>
            <span id="VerificationMenuName" style="font-size: 16px;margin-left: 20px"></span>
        </div>
    </div>

    <div class="form-group" style="width: 800px">
        <label for="menuurl" class="col-sm-2 control-label">目录地址:</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="menuurl"
                   placeholder="请输入菜单地址">
        </div>
        <div>
            <span id="VerificationMenuUrl" style="font-size: 16px;margin-left: 20px"></span>
        </div>
    </div>

    <div class="form-group" style="width: 800px">
        <label for="menupermission" class="col-sm-2 control-label">目录权限:</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="menupermission"
                   placeholder="请输入菜单权限名称">
        </div>
        <div>
            <span id="VerificationMenupermission" style="font-size: 16px;margin-left: 20px"></span>
        </div>
    </div>


    <div class="form-group" style="width: 800px">
        <label for="menupersort" class="col-sm-2 control-label">目录排序:</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="menupersort"
                   placeholder="请输入菜单排序">
        </div>
        <div>
            <span id="VerificationMenuSort" style="font-size: 16px;margin-left: 20px"></span>
        </div>
    </div>
</form>

<button type="button" class="btn btn-success" style="margin-left: 30%" id="AddCatalog">添加</button>
<button type="button" class="btn btn-danger" style="margin-left: 50px" onclick="">重置</button>
</body>
<script>
    //添加目录
    $('#AddCatalog').click(function () {
        var menuname = $('#menuname').val().toString().trim();
        var menuurl = $('#menuurl').val().toString().trim();
        var menupermission = $('#menupermission').val().toString().trim();
        var menusort = $('#menupersort').val().toString().trim();
        if (menuname == null || menuurl == null || menupermission == null || menusort == null) {
            layer.msg("有必填项为空", {icon: 2});
        } else {
            if (menuname.indexOf(" ") == -1 && menuurl.indexOf(" ") == -1 && menupermission.indexOf("  ") == -1 && menusort.indexOf(" ") == -1) {
                $.ajax({
                    url: "/menuinfo/AddCatalog",
                    type: 'post',
                    sync: false,
                    data: {
                        name: menuname.replace(/\s*/g, ""),
                        url: menuurl.replace(/\s*/g, ""),
                        permission: menupermission.replace(/\s*/g, ""),
                        sort: menusort.replace(/\s*/g, "")
                    },
                    success: function (result) {
                        if (result.code == "1") {
                            layer.msg(result.content, {icon: 1});
                            x_admin_close();
                        } else {
                            layer.msg(result.content, {icon: 2});
                            x_admin_close();
                        }
                    }
                })

            } else {
                layer.msg("有必填项带空格", {icon: 2});
            }
        }
    })


    //菜单名验证
    $("#menuname").blur(function () {
        var menuname = $('#menuname').val().toString().trim();
        if (menuname != null && menuname != "") {
            if (menuname.indexOf(" ") == -1) {
                $.ajax({
                    url: "/menuinfo/VerificationMenuName",
                    type: "post",
                    sync: false,
                    data: {
                        name: menuname.replace(/\s*/g, "")
                    }, success: function (result) {
                        if (result.code == "1") {
                            $('#VerificationMenuName').css('color', 'green').text("目录名可以使用");
                        } else {
                            $('#VerificationMenuName').css('color', 'red').text("目录名已经存在");
                            $('#menuname').val("");
                        }
                    }
                })

            } else {
                $('#VerificationMenuName').css('color', 'red').text("目录名不能存在空格");
                $('#menuname').val('');
            }

        } else {
            $('#VerificationMenuName').css('color', 'red').text("目录名不能为空");
        }
    })

    //菜单地址验证
    $("#menuurl").blur(function () {
        var menuurl = $('#menuurl').val().toString().trim();
        if (menuurl != null && menuurl != "") {
            if (menuurl.indexOf(" ") == -1) {
                $.ajax({
                    url: "/menuinfo/VerificationMenuUrl",
                    type: "post",
                    sync: false,
                    data: {
                        url: menuurl.replace(/\s*/g, "")
                    }, success: function (result) {
                        if (result.code == "1") {
                            $('#VerificationMenuUrl').css('color', 'green').text("目录地址可以使用");
                        } else {
                            $('#VerificationMenuUrl').css('color', 'red').text("目录地址已经存在");
                            $('#menuurl').val("");
                        }
                    }
                })

            } else {
                $('#VerificationMenuUrl').css('color', 'red').text("目录地址不能存在空格");
                $('#menuurl').val('');
            }

        } else {
            $('#VerificationMenuUrl').css('color', 'red').text("目录地址不能为空");
        }
    })

    //菜单权限验证
    $("#menupermission").blur(function () {
        var menupermission = $('#menupermission').val().toString().trim();
        if (menupermission != null && menupermission != "") {
            if (menupermission.indexOf(" ") == -1) {
                $.ajax({
                    url: "/menuinfo/VerificationMenuPermission",
                    type: "post",
                    sync: false,
                    data: {
                        permission: menupermission.replace(/\s*/g, "")
                    }, success: function (result) {
                        if (result.code == "1") {
                            $('#VerificationMenupermission').css('color', 'green').text("目录权限可以使用");
                        } else {
                            $('#VerificationMenupermission').css('color', 'red').text("目录权限已经存在");
                            $('#menupermission').val("");
                        }
                    }
                })

            } else {
                $('#VerificationMenupermission').css('color', 'red').text("目录权限不能存在空格");
                $('#menupermission').val('');
            }

        } else {
            $('#VerificationMenupermission').css('color', 'red').text("目录权限不能为空");
        }
    })

    //验证菜单排序
    $("#menupersort").blur(function () {
        var menupersort = $('#menupersort').val().toString().trim();
        var reg = new RegExp(/^[0-9]*$/);
        if (menupersort != null && menupersort != "") {
            if (reg.test(menupersort)) {
                $('#VerificationMenuSort').css('color', 'green').text("排序可以使用");
            } else {
                $('#VerificationMenuSort').css('color', 'red').text("请输入数字");
                $('#menupersort').val("");
            }

        } else {
            $('#VerificationMenuSort').css('color', 'red').text("目录排序为空");
        }

    })

</script>
</html>