<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>系统公告管理 </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/page.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>

<body class="layui-anim layui-anim-up">
<div class="x-nav">
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" th:action="@{/uploadfile}">
            <input type="text" name="name" placeholder="请输入资源名" autocomplete="off" class="layui-input"
                   id="name" th:value="${name}">
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <button class="layui-btn" onclick="AddResources()" shiro:hasPermission="resources:add"><i
            class="layui-icon"></i>添加资源
    </button>
    <table class="layui-table">
        <thead>
        <tr>
            <th hidden>ID</th>
            <th>资源名</th>
            <th>类型</th>
            <th>地址</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="upload : ${sysuploadlist.list}">
            <td th:text="${upload.id}" hidden></td>
            <td th:text="${upload.name}"></td>
            <td th:text="${upload.type}"></td>
            <td th:text="${upload.url}">
            </td>
            <td th:text="${#dates.format(upload.creatime,'yyyy-MM-dd HH:mm:ss')}"></td>
            <td class="td-manage">
                <a title="查看" th:onclick="details([[${upload.url}]])">
                    <i class="layui-icon">&#xe63c;</i>
                </a>
                <a title="编辑" th:onclick="UpdateUpload([[${upload.id}]],[[${upload.name}]])" shiro:hasPermission="resources:update"
                >
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除" th:onclick="DeleteUpload([[${upload.id}]],[[${upload.name}]])" shiro:hasPermission="resources:delete"
                >
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(sysuploadlist.list)}">
            <td colspan="9" style="color: red;font-size: 32px;">暂无数据</td>
        </tr>
        </tbody>
    </table>
    <div class="page">
        <div id="page" class="page_div"></div>
    </div>
</div>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script th:src="@{/js/pageMe.js}"></script>
<script th:inline="javascript">
    var sysuploadlist = [[${sysuploadlist}]];
    var name = $('#name').val().toString().trim();
    //翻页
    $("#page").paging({
        pageNum: sysuploadlist.pageNum, // 当前页面
        totalNum: sysuploadlist.pages, // 总页码
        totalList: sysuploadlist.total, // 记录总数量
        callback: function (num) { //回调函数
            window.location.href = "/uploadfile?pageNo=" + num + "&name=" + name.replace(/\s*/g, "");
        }
    });

    //删除资源
    function DeleteUpload(id, name) {
        layer.confirm('确认要删除吗？' + " " + name, function (index) {
            $.ajax({
                url: "/uploadfile/DeleteUploads",
                async: false,
                type: 'post',
                data: {
                    id: id.replace(/\s*/g, "")
                },
                success: function (result) {
                    if (result.code == "1") {
                        layer.msg(result.content, {icon: 1});
                        resh()
                    } else {
                        layer.msg(result.content, {icon: 2});
                    }
                }

            });
        });
    }


    //添加资源
    function AddResources() {
        layer.open({
            type: 2 //Page层类型
            , area: ['1200px', '700px']
            , title: '添加资源'
            , shade: 0.6 //遮罩透明度
            , maxmin: true //允许全屏最小化
            , anim: 1 //0-6的动画形式，-1不开启
            , content: '/uploadfile/GetUploads'
        });
    }

    //资源详情
    function details(url) {
        window.open(url);
    }


    //修改资源
    function UpdateUpload(id) {
        layer.open({
            type: 2 //Page层类型
            , area: ['1200px', '700px']
            , title: '修改资源'
            , shade: 0.6 //遮罩透明度
            , maxmin: true //允许全屏最小化
            , anim: 1 //0-6的动画形式，-1不开启
            , content: '/uploadfile/GetUpdateUploads?id='+id
        });
    }

</script>
</body>

</html>