<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加VIP</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script src=".." th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>

<body>
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="vipname" class="layui-form-label">
                <span class="x-red">*</span>VIP名
            </label>
            <div class="layui-input-inline" style="width: 50%">
                <input type="text" id="vipname" name="vipname" lay-verify="required|vipname"
                       autocomplete="off" class="layui-input" placeholder="4-20个字符">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span id="VerificationVipName"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="discount" class="layui-form-label">
                <span class="x-red">*</span>折扣
            </label>
            <div class="layui-input-inline" style="width: 50%">
                <input type="text" id="discount" name="discount" lay-verify="required|discount"
                       autocomplete="off" class="layui-input" placeholder="0-100正整数">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="miconsumption" class="layui-form-label">
                <span class="x-red">*</span>最低消费
            </label>
            <div class="layui-input-inline" style="width: 50%">
                <input type="text" id="miconsumption" name="miconsumption" lay-verify="required|miconsumption"
                       autocomplete="off" class="layui-input" placeholder="只能为正整数">
            </div>
        </div>
        <div class="layui-form-item" style="margin-left: 100px">
            <button class="layui-btn" lay-filter="add" lay-submit="">增加</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
</body>
<script>
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;
        //自定义验证规则
        form.verify({
            vipname: function (value) {
                if (value.length < 4) {
                    return '至少4个字符';
                }
                if (value.length > 20) {
                    return '不允许大于20个字符';
                }
            }
            , discount: [/^(?:0|[1-9][0-9]?|100)$/, '折扣率只能为0-100以内正整数'],
            miconsumption: [/(^[0-9]\d*$)/, '最低消费只能为正整数']
        });

        //监听提交
        form.on('submit(add)', function (data) {
            $.ajax({
                url: "/VipInfo/AddVip",
                type: "post",
                anys: false,
                data: {
                    name: data.field.vipname.replace(/\s*/g, ""),
                    discount: data.field.discount.replace(/\s*/g, ""),
                    miconsumption: data.field.miconsumption.replace(/\s*/g, "")
                }, success: function (result) {
                    if (result.code == '1') {
                        layer.msg(result.content, {icon: 1});
                        x_admin_close();
                    } else {
                        layer.msg(result.content, {icon: 2});
                        x_admin_close();
                    }
                }
            })

            return false;
        });

    });

    //VIP名字验证
    $('#vipname').blur(function () {
        var vipname = $('#vipname').val().toString().trim();
        if (vipname == null || vipname == '') {
            $('#VerificationVipName').css('color', 'red').text("vip名字不能为空");
        } else {
            if (vipname.indexOf(" ") == -1) {
                if (vipname.length >= 4 && vipname.length <= 8) {
                    $.ajax({
                        url: "/VipInfo/VerificationVipName",
                        async: false,
                        type: 'post',
                        data: {
                            name: vipname.replace(/\s*/g, "")
                        },
                        success: function (result) {
                            if (result.code == "1") {
                                $('#VerificationVipName').css('color', 'green').text("验证通过");
                                $('#vipname').val(vipname.replace(/\s*/g, ""));
                            } else {
                                $('#VerificationVipName').css('color', 'red').text("VIP名字已存在");
                                $('#vipname').val('');
                            }
                        }
                    });
                } else {
                    $('#VerificationVipName').css('color', 'red').text("VIP名字必须大于4个字符，小于8个字符");
                    $('#vipname').val('');
                }
            } else {
                $('#VerificationVipName').css('color', 'red').text("vip名字中不能带空格");

            }
        }
    })


</script>
</html>