<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Graduation.Dao.VipDao.VipDao">
    <!--查询所有的VIP信息-->
    <select id="FindAllVipInfo" resultType="com.example.demo.Graduation.entity.VipinfoEntity">
        SELECT * FROM vipinfo
        <where>
            <if test="name!=null and name!=''">
                AND name=#{name}
            </if>
        </where>
        ORDER BY miconsumption ASC
    </select>


    <!--查询VIP名字是否重复-->
    <select id="VerificationVipName" resultType="com.example.demo.Graduation.entity.VipinfoEntity">
             SELECT * FROM vipinfo where  name=#{name}
    </select>

    <!--添加vip-->
    <insert id="AddVip">
        INSERT into vipinfo  VALUES(#{id},#{name},#{discount},#{miconsumption})
    </insert>


    <!--根据ID查询VIP信息-->
    <select id="IdFindVipInfo" resultType="com.example.demo.Graduation.entity.VipinfoEntity">
        SELECT * FROM vipinfo  WHERE  id=#{id}
    </select>

    <!--查询VIP的会员的关联-->
    <select id="IdFindVipMemberinfo" resultType="integer">
    SELECT COUNT(*) FROM member_vip WHERE  vipid=#{vipid}
    </select>

    <!--修改VIP信息-->
    <update id="UpdateVip">
    UPDATE  vipinfo SET name=#{name},discount=#{discount},miconsumption=#{miconsumption}  WHERE id=#{id}
    </update>

    <!--删除VIP信息-->
    <delete id="DeleteVip">
        DELETE  FROM vipinfo WHERE id=#{id}
    </delete>


</mapper>