<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Graduation.Dao.OderDao.OderDao">
    <resultMap id="odermap" type="com.example.demo.Graduation.entity.OderEntity">
        <id property="id" column="id" jdbcType="VARCHAR"></id>
        <result property="oder_no" column="oder_no" jdbcType="VARCHAR"></result>
        <result property="oder_type" column="oder_type" jdbcType="VARCHAR"></result>
        <result property="member_name" column="member_name" jdbcType="VARCHAR"></result>
        <result property="payment" column="payment" jdbcType="DECIMAL"></result>
        <result property="payment_type" column="payment_type" jdbcType="VARCHAR"></result>
        <result property="status" column="status" jdbcType="INTEGER"></result>
        <result property="payment_time" column="payment_time" jdbcType="DATE"></result>
        <result property="create_time" column="create_time" jdbcType="DATE"></result>
        <result property="update_time" column="update_time" jdbcType="DATE"></result>
        <result property="remark" column="remark" jdbcType="VARCHAR"></result>
        <result property="final_payment" column="final_payment" jdbcType="DECIMAL"></result>
        <result property="refundmoney" column="refundmoney" jdbcType="DECIMAL"></result>
        <result property="activityname" column="activityname" jdbcType="VARCHAR"></result>
        <association property="oderi" javaType="com.example.demo.Graduation.entity.OderItemEntity">
            <id property="id" column="id" jdbcType="VARCHAR"></id>
            <result property="member_name" column="member_name" jdbcType="VARCHAR"></result>
            <result property="oder_no" column="oder_no" jdbcType="VARCHAR"></result>
            <result property="product_id" column="product_id" jdbcType="VARCHAR"></result>
            <result property="product_name" column="product_name" jdbcType="VARCHAR"></result>
            <result property="product_type" column="product_type" jdbcType="VARCHAR"></result>
            <result property="current_oder_price" column="current_oder_price" jdbcType="DECIMAL"></result>
            <result property="number" column="number" jdbcType="INTEGER"></result>
            <result property="total_price" column="total_price" jdbcType="DECIMAL"></result>
            <result property="create_time" column="create_time" jdbcType="DATE"></result>
            <result property="update_time" column="update_time" jdbcType="DATE"></result>
            <result property="activityname" column="activityname" jdbcType="VARCHAR"></result>
        </association>
    </resultMap>
    <!--添加总订单-->
    <insert id="AddOder">
      insert into oderinfo(id,oder_no,member_name,payment,payment_type,status,payment_time,create_time,update_time,remark,oder_type,activityname)
      values(#{id},#{oder_no},#{member_name},#{payment},#{payment_type},#{status},#{payment_time},#{create_time},#{update_time},#{remark},#{oder_type},#{activityname})
    </insert>
    <!--处理订单-->
    <update id="HandleOder">
     update oderinfo set status=#{status},payment_time=#{payment_time},payment_type=#{payment_type},final_payment=#{final_payment},remark=#{remark},update_time=#{update_time}  where oder_no=#{oder_no}
    </update>
    <!--申请退款-->
    <update id="ApplyRefund">
    UPDATE oderinfo  SET  status=#{status},refundmoney=#{refundmoney},refundremark=#{refundremark},update_time=#{update_time} WHERE oder_no=#{oder_no}
    </update>

    <!--查询总订单-->
    <select id="FindAllOderInfo" resultMap="odermap">
        SELECT oder.*,oderi.current_oder_price,oderi.number,oderi.product_name FROM oderinfo as oder
        JOIN oderitem as oderi
        on oder.oder_no=oderi.oder_no
        <where>
            <if test="oder_type!='all' and oder_type!=null and oder_type!=''">
                and oder.oder_type=#{oder_type}
            </if>
            <if test="status!='' and status!=null and status!='0'">
                and oder.status=#{status}
            </if>
            <if test="member_name!='' and member_name!=null">
                and oder.member_name=#{member_name}
            </if>
            <if test="oder_no!='' and oder_no!=null">
                and oder.oder_no=#{oder_no}
            </if>
            <if test="starttime!=null and starttime!=''">
                and oder.create_time>=#{starttime}
            </if>
            <if test="endtime!=null and endtime!=''">
                and oder.create_time&lt;=#{endtime}    <!--&lt;等于<-->
            </if>
        </where>
        order by status DESC
    </select>
    <!--ID查询订单信息-->
    <select id="IdFindOderInfo" resultMap="odermap">
        SELECT oder.*,
        oderi.current_oder_price,
        oderi.number,
        oderi.product_name,
        oderi.total_price
        FROM oderinfo as oder
        JOIN oderitem as oderi
        on oder.oder_no=oderi.oder_no
        WHERE oder.oder_no=#{oder_no}
    </select>
    <!--查询未处理的订单数量-->
    <select id="FindUnprocessedOderNumber" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM oderinfo WHERE  status=10
    </select>

    <!--今日销售-->
    <select id="ToDaySales" resultType="java.math.BigDecimal">
        SELECT SUM(payment) FROM oderinfo  where  status=1 and payment_time>=#{starttime}  AND  payment_time &lt;=#{endtime}
    </select>
    <!--查询商品是否在未处理订单中-->
    <select id="ProductIdFindOderInfo" resultType="com.example.demo.Graduation.entity.OderEntity">
        SELECT oder.*
        FROM oderinfo as oder
        JOIN oderitem as oderi
        on oder.oder_no=oderi.oder_no
        WHERE  oder.status=10 and oderi.product_id=#{product_id}
    </select>

    <select id="FindMenberOder" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM oderinfo WHERE status=10 AND member_name=#{member_name}
    </select>

    <!--删除总订单-->
    <delete id="DeleteOder">
    delete  from oderinfo where oder_no=#{oder_no}
    </delete>
    <!--删除子订单-->
    <delete id="Delete_OderItem">
    delete  from oderitem where oder_no=#{oder_no}
    </delete>


</mapper>