<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Graduation.Dao.OderDao.OderDao">
    <!--添加总订单-->
    <insert id="AddOder">
      insert into oderinfo(id,oder_no,member_name,payment,payment_type,status,payment_time,create_time,update_time,remark)
      values(#{id},#{oder_no},#{member_name},#{payment},#{payment_type},#{status},#{payment_time},#{create_time},#{update_time},#{remark})
    </insert>
</mapper>