<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Graduation.Dao.MenuDao.MenuDao">
    <resultMap id="menus" type="com.example.demo.Graduation.entity.MenuEntity">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="parent_id" column="parent_id" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="permission" column="permission" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <association property="userRole" javaType="com.example.demo.Graduation.entity.UserRole">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="userid" column="userid" jdbcType="VARCHAR"/>
            <result property="roleid" column="roleid" jdbcType="VARCHAR"/>
            <result property="createtime" column="createtime" jdbcType="DATE"/>
            <result property="updatetime" column="updatetime"/>
        </association>
        <association property="roleEntity" javaType="com.example.demo.Graduation.entity.RoleEntity">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createtime" column="createtime" jdbcType="DATE"/>
            <result property="updatetime" column="updatetime" jdbcType="DATE"/>
        </association>
        <association property="userEntity" javaType="com.example.demo.Graduation.entity.UserEntity">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
        </association>
    </resultMap>

    <!--查询一级菜单-->
    <select resultMap="menus" id="FindMenusType1">
            SELECT re.* FROM sys_resources  as re
            JOIN sys_role_resources as  rs
            ON   rs.resourcesid=re.id
            WHERE  rs.roleid=#{roleid} and re.type='1'
    </select>
    <!--查询二级菜单-->
    <select resultMap="menus" id="FindMenusType2">
            SELECT re.* FROM sys_resources  as re
            JOIN sys_role_resources as  rs
            ON   rs.resourcesid=re.id
            WHERE  rs.roleid=#{roleid} and re.type='2'
    </select>
    <!--根据用户名查询用户菜单的权限-->
    <select resultMap="menus" id="UserNameFindPerssiom">
            SELECT re.* FROM sys_resources as re
            JOIN sys_role_resources as sr
            on sr.resourcesid=re.id
            JOIN sys_role as r
            ON r.id=sr.roleid
            WHERE  sr.roleid=#{roleid}
    </select>


    <!--根据二级菜单的名字，查询二级菜单的信息-->
    <select id="Menu2NameFindID" resultMap="menus">
    SELECT * FROM sys_resources WHERE name=#{name}
    </select>

    <!--查询出所有的菜单信息-->
    <select id="FindAllMenu" resultMap="menus">
    SELECT * FROM sys_resources ORDER BY  sort DESC
    </select>

    <!--删除菜单信息-->
    <delete id="DeleteMenu">
     DELETE FROM sys_resources WHERE parent_id=#{id} or id=#{id}
    </delete>

    <!--删除菜单和角色之间的关联-->
    <delete id="DeleteMenuUser">
    DELETE FROM sys_role_resources WHERE resourcesid=#{id}
    </delete>

    <!--查询菜单名是否重复-->
    <select id="VerificationMenuName" resultMap="menus">
   SELECT * FROM sys_resources  WHERE  name=#{name}
    </select>

    <!--查询菜单地址是否重复-->
    <select id="VerificationMenuUrl" resultMap="menus">
     SELECT * FROM sys_resources  WHERE  url=#{url}
    </select>

    <!--查询菜单权限是否重复-->
    <select id="VerificationMenuPermission" resultMap="menus">
    SELECT * FROM sys_resources  WHERE  permission=#{permission}
    </select>

    <!--添加目录-->
    <insert id="AddMenu">
    INSERT into sys_resources(id,name,parent_id,url,type,permission,sort) VALUES(#{id},#{name},#{parent_id},#{url},#{type},#{permission},#{sort})
    </insert>

    <!--根据菜单ID查询菜单信息-->
    <select id="IDFindResoucesinfo" resultMap="menus">
     SELECT * FROM sys_resources WHERE id=#{id}
    </select>

    <!--根据上级菜单ID查询子菜单信息-->
    <select id="ParentIdFindResoucesinfo" resultMap="menus">
     SELECT * FROM sys_resources WHERE parent_id=#{id}
    </select>


    <!--修改菜单信息-->
    <update id="updateMenuinfo">
     UPDATE sys_resources SET name=#{name},url=#{url},sort=#{sort}  WHERE id=#{id}
    </update>

    <!--查询所有的菜单-->
    <select id="FindAllsMenu" resultMap="menus">
        SELECT * FROM sys_resources
    </select>


    <!--查询一级菜单-->
    <select resultMap="menus" id="FindMenusType11">
            SELECT re.* FROM sys_resources  as re
            JOIN sys_role_resources as  rs
            ON   rs.resourcesid=re.id
            WHERE   re.type='1'
    </select>
    <!--查询二级菜单-->
    <select resultMap="menus" id="FindMenusType22">
            SELECT re.* FROM sys_resources  as re
            JOIN sys_role_resources as  rs
            ON   rs.resourcesid=re.id
            WHERE   re.type='2'
    </select>

</mapper>