<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改角色</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/ztree/demo.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/ztree/zTreeStyle/zTreeStyle.css}" type="text/css">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/lib/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <script type="text/javascript" th:src="@{/js/ztree/jquery.ztree.core.js}"></script>
    <script type="text/javascript" th:src="@{/js/ztree/jquery.ztree.excheck.js}"></script>
</head>
<body>
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="roleid" class="layui-form-label">
                <span>角色ID</span>
            </label>
            <div class="layui-input-block">
                <input type="text" id="roleid" name="roleid" readonly="readonly"
                       autocomplete="off" class="layui-input" th:value="${role.id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="rolename" class="layui-form-label">
                <span>角色名称</span>
            </label>
            <div class="layui-input-inline">
                <input type="text" id="rolename" name="rolename" required lay-verify="rolename"
                       autocomplete="off" class="layui-input" th:value="${role.name}" placeholder="2-8个字符">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label" for="description">角色备注</label>
            <div class="layui-input-block">
                <textarea placeholder="不超过50个字符" class="layui-textarea" name="description" id="description"
                          lay-verify="description" th:text="${role.description}"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">角色权限</label>
            <br/>
            <br/>
            <div class="zTreeDemoBackground left" style="margin-left: 100px">
                <ul id="treeDemo" class="ztree"></ul>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="update">修改</button>
            </div>
        </div>
    </form>
</div>
<script th:inline="javascript">
    var zNodes = [[${ztree}]];
    var roleresources = [[${roleresources}]];
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;

        //自定义验证规则
        form.verify({
            rolename: function (value) {
                if (value.length < 2) {
                    return '名称至少得2个字符';
                }
                if (value.length > 8) {
                    return '名称不得超过8个字符';
                }
            },
            description: function (value) {
                if (value.length > 50) {
                    return '备注不能超过50个字符';
                }
            }
        });

        //监听提交
        form.on('submit(update)', function (data) {
            var treeObj = $.fn.zTree.getZTreeObj("treeDemo"), nodes = treeObj.getCheckedNodes(true);
            $.ajax({
                url: "/roleinfo/UpdateRoleInfo",
                type: "post",
                anys: false,
                data: {
                    id: data.field.roleid.replace(/\s*/g, ""),
                    name: data.field.rolename.replace(/\s*/g, ""),
                    description: data.field.description.replace(/\s*/g, ""),
                    ztree: JSON.stringify(nodes)
                }, success: function (result) {
                    if (result.code == '1') {
                        layer.msg(result.content, {icon: 1});
                        x_admin_close();
                    } else {
                        layer.msg(result.content, {icon: 2});
                    }
                }
            })
            return false;
        });

    });


    var setting = {
        check: {
            enable: true
        },
        data: {
            simpleData: {
                enable: true
            }
        }
    };

    var code;

    function setCheck() {
        var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
            type = {"Y": "ps", "N": "ps"};
        zTree.setting.check.chkboxType = type;
    }

    function showCode(str) {
        if (!code) code = $("#code");
        code.empty();
        code.append("<li>" + str + "</li>");
    }

    $(document).ready(function () {
        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        setCheck();
        Checklist();
    });


    function jsonztree() {
        var treeObj = $.fn.zTree.getZTreeObj("treeDemo"), nodes = treeObj.getCheckedNodes(true), v = "";
        for (var i = 0; i < nodes.length; i++) {
            v += nodes[i].name + ",";
            console.log("节点id:" + nodes[i].id + "节点名称" + v); //获取选中节点的值
        }
    }

    //勾选ID
    function Checklist() {
        var zTree = $.fn.zTree.getZTreeObj("treeDemo");
        for (var index in roleresources) {
            var node = zTree.getNodeByParam("id", roleresources[index].resourcesid);
            if (node != null) {
                zTree.checkNode(node, true);//指定选中ID的节点
            }
        }
    }

</script>
</body>

</html>