<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Graduation.Dao.MemberDao.MemberDao">
    <resultMap id="member" type="com.example.demo.Graduation.entity.MemberEntity">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="balance" column="balance" jdbcType="DECIMAL"/>
        <result property="integral" column="integral" jdbcType="INTEGER"/>
        <result property="total_consumption" column="total_consumption" jdbcType="DECIMAL"/>
        <association property="vip" javaType="com.example.demo.Graduation.entity.VipinfoEntity">
            <id property="id" column="vip.id" jdbcType="VARCHAR"/>
            <result property="name" column="vip.name" jdbcType="VARCHAR"/>
            <result property="discount" column="discount" jdbcType="FLOAT"/>
        </association>
        <association property="mv" javaType="com.example.demo.Graduation.entity.MemberVipEntity">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="vipid" column="vipid" jdbcType="VARCHAR"/>
            <result property="memberid" column="memberid" jdbcType="VARCHAR"/>
        </association>
    </resultMap>
    <!--添加会员-->
    <insert id="AddMember">
        INSERT INTO memberinfo(id,name,phone,email,total_consumption) VALUES(#{id},#{name},#{phone},#{email},#{total_consumption})
    </insert>
    <!--添加会员与VIP信息关联-->
    <insert id="AddMemberVip">
     INSERT INTO member_vip VALUES(#{id},#{vipid},#{memberid})
    </insert>
    <!--修改会员信息-->
    <update id="UpdateMember">
        UPDATE memberinfo SET name=#{name},phone=#{phone},email=#{email} WHERE  id=#{id}
    </update>

    <!--删除会员信息-->
    <delete id="DeleteMember">
        DELETE FROM memberinfo WHERE id=#{id}
    </delete>

    <!--删除会员和VIP关联信息-->
    <delete id="DeleteMemberVip">
        DELETE FROM member_vip WHERE memberid=#{id}
    </delete>


    <!--查询会员信息-->
    <select id="MemberAllInfo" resultMap="member">
        SELECT m.*,vip.name as 'vip.name' FROM memberinfo as m
        JOIN member_vip as mv
        ON mv.memberid=m.id
        JOIN vipinfo as vip
        ON vip.id=mv.vipid
        <where>
            <if test="name!=null and name!=''">
                AND m.name like concat('%',#{name},'%')
            </if>
        </where>
    </select>
    <!--查询会员名是否存在-->
    <select id="VerificationMemberName" resultType="com.example.demo.Graduation.entity.MemberEntity">
     SELECT * FROM memberinfo WHERE name=#{name}
    </select>

    <!--根据会员ID查询会员信息-->
    <select id="IdFIndMemberInfo" resultMap="member">
        SELECT m.*,vip.name as 'vip.name',vip.id as 'vip.id' FROM memberinfo as m
        JOIN member_vip as mv
        ON mv.memberid=m.id
        JOIN vipinfo as vip
        ON vip.id=mv.vipid
       WHERE m.id=#{id}
    </select>
    <!--查询会员数量-->
    <select id="MemberNumber" resultType="java.lang.Integer">
    SELECT count(*) FROM memberinfo
    </select>
    <!--会员名查询会员信息-->
    <select id="NameFindMemberInfo" resultMap="member">
        SELECT   m.*,vip.name as 'vip.name',vip.discount as 'discount' FROM memberinfo as m
        JOIN member_vip as mv
        ON mv.memberid=m.id
        JOIN vipinfo as vip
        ON vip.id=mv.vipid
        WHERE m.name=#{name}
    </select>

    <!--修改会员和VIP关联-->
    <update id="UpdateMemberVip">
        UPDATE member_vip SET vipid=#{vipid} WHERE  memberid=#{memberid}
    </update>
    <!--修改余额-->
    <update id="Recharge">
    update memberinfo set balance=#{money} where id=#{id} and name=#{name}
    </update>

    <!--修改积分-->
    <update id="UpdateIntegral">
         update memberinfo set integral=#{integral} where id=#{id} and name=#{name}
    </update>
    <!--修改总余额-->
    <update id="UpdateTotalConsumption">
    update memberinfo set total_consumption=#{money} where id=#{id} and name=#{name}
    </update>


</mapper>