<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Graduation.Dao.MemberDao.ReservationDao">
    <!--添加-->
    <insert id="AddReservation">
    INSERT INTO reservationinfo (
	id,
	reservation_name,
	reservation_time,
    reservation_type,
    reservation_content,
    phone
    ) VALUES
    (#{id},
    #{reservation_name},
    #{reservation_time},
    #{reservation_type},
    #{reservation_content},
    #{phone}
    )
    </insert>
    <!--停止预告-->
    <update id="UpdateReservationStatus">
        UPDATE reservationinfo SET status=1  WHERE id=#{id}
    </update>

    <!--修改预约信息-->
    <update id="UpdateReservation">
    UPDATE reservationinfo
    SET reservation_name=#{reservation_name},reservation_time=#{reservation_time},reservation_type=#{reservation_type},reservation_content=#{reservation_content},phone=#{phone}
    WHERE id=#{id}
    </update>

    <delete id="DeleteReservation">
        DELETE FROM reservationinfo WHERE id=#{id}
    </delete>
    <!--查询-->
    <select id="FinAllReservationinfo" resultType="com.example.demo.Graduation.entity.Reservation">
        SELECT * FROM reservationinfo
        <where>
            <if test="reservation_name!=null and reservation_name!=''">
                reservation_name like CONCAT('%',#{reservation_name},'%')
            </if>
        </where>
        ORDER BY reservation_time ASC
    </select>

    <select id="IdFindReservation" resultType="com.example.demo.Graduation.entity.Reservation">
        SELECT * FROM reservationinfo WHERE id=#{id}
    </select>
</mapper>